.wrapper{
  display: block;
  position:relative;
  width: 100%;
  max-width: 100%;
}
.Abs-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Back_muscles-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Biceps-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Calf-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Chest-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Forearms-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Glutes-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Hamstrings-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Shoulders-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Triceps-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Upper_Legs-img{
  border: 0px solid red;
  position:absolute;
  max-width:100%;
}
.Main-img{
  border: 0px solid blue;
  position:absolute;
  max-width: 100%;
}
