.wrapper{
  display: inline-block;
  position:relative;
  width: 50%;
  max-width: 50%;
}
.Front-img{
  width: 100%;
  max-width: 100%;
  border: 0px solid blue;
  z-index: 1;
}
.Front2-img{
  border: 0px solid red;
  position:absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  max-width:100%;
  z-index: 1;
}
.Back-img{
  width: 100%;
  max-width: 100%;
  border: 0px solid red;
  z-index: 1;
}
.Chest-img{
  border: 0px solid red;
  position:absolute;
  right: 33%;
  top: 19%;
  width: 30%;
  max-width:30%;
  z-index: -1;
}
.Abs-img{
  border: 0px solid red;
  position:absolute;
  right: 40%;
  top: 27%;
  width: 16%;
  max-width:16%;
  z-index: -1;
}
.Biceps-img{
  border: 0px solid red;
  position:absolute;
  right: 22.5%;
  top: 24%;
  width: 51%;
  max-width:51%;
  z-index: -1;
}
.Forearms-img{
  border: 0px solid red;
  position:absolute;
  right: 15%;
  top: 33%;
  width: 65.5%;
  max-width:65.5%;
  z-index: -1;
}
.Lower_Legs-img{
  border: 0px solid red;
  position:absolute;
  right: 35%;
  top: 68%;
  width: 26%;
  max-width:26%;
  z-index: -1;
}
.Delts-img{
  border: 0px solid red;
  position:absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  max-width:100%;
  z-index: -1;
}
.Upper_Legs-img{
  border: 0px solid red;
  position:absolute;
  right: 33%;
  top: 43%;
  width: 30%;
  max-width:30%;
  z-index: -1;
}
.Back_muscles-img{
  border: 0px solid red;
  position:absolute;
  right: 34%;
  top: 18%;
  width: 34%;
  max-width:34%;
  z-index: -1;
}
.Glutes-img{
  border: 0px solid red;
  position:absolute;
  right: 37%;
  top: 41.5%;
  width: 28.5%;
  max-width:28.5%;
  z-index: -1;
}
.Hamstrings-img{
  border: 0px solid red;
  position:absolute;
  right: 37%;
  top: 49%;
  width: 28.5%;
  max-width:28.5%;
  z-index: -1;
}
.Calf-img{
  border: 0px solid red;
  position:absolute;
  right: 37%;
  top: 62%;
  width: 28.5%;
  max-width:28.5%;
  z-index: -1;
}
.Triceps-img{
  border: 0px solid red;
  position:absolute;
  right: 30%;
  top: 24%;
  width: 42%;
  max-width:42%;
  z-index: -1;
}
.Lats-img{
  border: 0px solid red;
  position:absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  max-width:100%;
  z-index: -1;
}
.Obliques-img{
  border: 0px solid red;
  position:absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  max-width:100%;
  z-index: -1;
}
.RDelts-img{
  border: 0px solid red;
  position:absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  max-width:100%;
  z-index: -1;
}
.Spine-img{
  border: 0px solid red;
  position:absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  max-width:100%;
  z-index: -1;
}
.Traps-img{
  border: 0px solid red;
  position:absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  max-width:100%;
  z-index: -1;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>

<div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div> 