<html>
  <head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <svg height="600px" width="600px">

    <img id="myImage" src="../static/images/newSVG/Front_Back-main.png" style="width:400px">
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-main.png'">Reset</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-abs.png'">Abs</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-chest.png'">Chest</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-biceps.png'">Biceps</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-forearms.png'">Forearms</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-back.png'">Back</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-calves.png'">Calves</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-glutes.png'">Glutes</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-hamstrings.png'">Hamstrings</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-quads.png'">Quads</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-shoulders.png'">Shoulders</button>
    <button onclick="document.getElementById('myImage').src='../static/images/newSVG/Front_Back-triceps.png'">Triceps</button>
    </svg>

  </body>
</html>