<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Custom Tags</title>

  <script src="test.js"></script> 
</head>

<body>

  <form id="form1" action="#">
    <label for="input1">This text will be passed in CustomeEvent</label>
    <input id="input1" type="text" value="default">
    <input type="submit" id="bt1">
  </form>

  <form action="/action_page.php" onsubmit="functSubmit()">
        Enter name: <input type="text">
        <input id="input2" type="submit">
  </form> 

</body>

</html>